.group {
  display: flexbox;
  text-align: center;
}

.h1 {
  font-size: 50px;
  margin-top: 25px;
}

.p {
  font-size: 25px;
  margin-top: 15px;
}

.button {
  font-size: 25px;
  margin-top: 20px;
  border: solid;
  border-radius: 15px;
  padding: 15px;
  background-color: rebeccapurple;
  color: black;
}
.button:hover {
  background-color: rgb(140, 113, 167);
  cursor: pointer;
}

.logo {
  font-size: 150px;
  margin-top: 120px;
  color: rebeccapurple;
}

@media (max-width: 767px) {
  .logo {
    font-size: 130px;
    margin-top: 100px;
    color: rebeccapurple;
  }
  .h1 {
    font-size: 40px;
    margin-top: 20px;
  }
  .p {
    font-size: 20px;
    margin-top: 15px;
  }
}
