@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 20px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
}

.logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: rebeccapurple;
}

.register,
.login {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.register {
  position: absolute;
  right: 20px;
}

.login {
  position: absolute;
  right: 150px;
}

.select {
  margin-top: 7px;
}

@media (max-width: 767px) {
  header {
    display: flexbox;
  }
  .Header {
    padding: 10px;
    align-items: left;
  }

  .logo {
    margin-top: 5px;
    margin-left: 15px;
    display: flexbox;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .select {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .select li {
    margin-top: 1px;
    font-size: 20px;
  }
}
