@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 30px;
}
.logout {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 25px;
  list-style-type: none;
}
.welcome {
  color: rgb(47, 111, 214);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  position: absolute;
  right: 150px;
  top: 25px;
  list-style-type: none;
}

.username {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  position: absolute;
  right: 150px;
  list-style-type: none;
  color: #134ef5;
}

.select {
  margin-top: 7px;
}
